<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <h1 class="navbar-brand mr-3">{{title}}</h1>
  </div>
</nav>
<div class="container">
  <div class="row row justify-content-center">
    <div class="col-md-offset-6 col-md-6">
      <ngb-alert *ngIf="successMsg" type="success" (close)="successMsg = ''">{{successMsg}}</ngb-alert>
      <ngb-alert *ngIf="errorMsg" type="danger" (close)="errorMsg = ''">{{errorMsg}}</ngb-alert>
    </div>
  </div>
  <div class="jumbotron file-upload">
    <form id='formData' #formdata method="post" enctype="multipart/form-data">
    <div class="row csv-file-chooser-section">
      <div class="col-md-6 text-right">
        Upload CSV File:
      </div>
      <div class="col-md-6 text-left">
        <input 
        type="file" 
        #fileImportInput 
        name="File Upload" 
        class="form-control file" 
        (change)="getFilesData(fileImportInput)"
        accept=".csv"
        />
      </div>
    </div>
	</form>
  </div>
  
  <div *ngIf="issueList" class="container">
  <div class="row justify-content-end">
    <div class="col-md-4">
      <div class="form-group">
        <input 
        type="number" 
        #search 
        min="0"  
        class="form-control search"  
        name="search" 
        (input)="getIssueCount(search.value)" 
        placeholder="Filter by Issue Count" 
        inputmode="numeric" 
        pattern="[0-9]*"
        digitOnly
        />
      </div>
    </div>
  </div>
  <div class="csv-result-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Sur name</th>
          <th scope="col">Issue count</th>
          <th scope="col">Date of birth</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="issueList?.length > 0;else noRecords">
        <tr *ngFor="let csvData of issueList ;let i = index;">
          <th scope="row">{{i+1}}</th>
          <td>
            <span>{{csvData.firstName}}</span>
          </td>
          <td>
            <span>{{csvData.surName}}</span>
          </td>
          <td>
            <span>{{csvData.issueCount}}</span>
          </td>
          <td>
            <span>{{csvData.dob | date : "dd/MM/y"}}</span>
          </td>
        </tr>
      </ng-container>
      <ng-template #noRecords>
        <tr align="center">
          <td colspan="5">
            <ngb-alert [dismissible]="false">
              No Records Available!
            </ngb-alert>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
  <hr>
</div>
</div>